
header{
    height:100px;
    background-color: var(--bgcolor);
    display: flex;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    box-shadow: var(--boxshadow);
    margin: 10px;
}
.menu{
    display: flex;
}
.menu li{
    margin: 20px 15px 0px 0px;
    list-style: none;
}
.menu li a{
    display: block;
    padding: 10px;
    font-size: large;
    
}
.menu li a:hover{
    text-decoration: underline;   
}
.menu > li > a{
    color: black;
    text-decoration: none;
    font-family: var(--header-font);
    font-size: 25px;
}

.maintitle{
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white
}

body{
    background-image: linear-gradient(to bottom, #122948, #1F5085, #21629C, #42A0C4, #96A7C0);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: 1.2rem;
}

.main{
    background-color: var(--bgcolor);
    width: 1200px;
    margin: 0 auto;
    text-align: justify;
    box-shadow:  var(--boxshadow);
    display: grid;
    margin-top: 40px;
}

.t01, .t02, .t03, .t04, .t05, .t06, .t07, .t08,.t09, .footer, .atencao{
    margin: 0px 15px 20px 15px;
    padding: 5px;
}
.atencao h2{
    color: red;
    font-weight: bolder;
}
h1{
    font-family: var(--header-font);

}
p, .main > li{
    font-family: var(--main-font);
    margin-bottom: 5px;
}
h2,h3,h4{
    margin-bottom: 10px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 20px;
}
p{
    text-indent: 20px;
}
body ul{
    margin: 0px 0px 10px 20px;
    font-weight: bolder;
}
body ol {
    margin: 0px 0px 10px 20px;
    font-weight: bolder;
    
}
iframe{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
}
img{
    object-fit: contain;
    width: 500px;
    border-radius: 10px;
    justify-content:space-between;
}
.imgfront{
    display: flex ;
    justify-content:space-between;
    margin: 20px 35px 20px 35px;

}
.imgback{
    display: flex ;
    justify-content:space-between;
    margin: 20px 35px 20px 35px;

}
footer{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.sumario{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas: 
    'sum1 sum2';
    background-color: var(--bgcolor);
    width: 1200px;
    margin: 0 auto;
    box-shadow:  var(--boxshadow);
}
.sumario li{
    color: black;
    font-family: var(--header-font);
    font-size: 20px;
    list-style: none;
}
.sumario li a{
    color: black;
    text-decoration: none;
}
.sumario li a:hover{
    text-decoration: underline;
    color: red;
}
#sum1{
    grid-area: sum1;
}
#sum2{
    grid-area: sum2;
    margin-top: 8px;
    margin-right: -60px;
}
.t04 h4{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 23px;
}
@media screen and (max-width: 768px) {
    header{
        height: 180px;
    }
    .maintitle{
        font-size: 50px;
        margin-top: -30px;
    }
}
@media screen and (max-width: 1128px){
    .sumario{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-template-areas: 
    'sum1'
    'sum2';
    margin: 10px;
    width: auto;
    }
    #sum1{
    grid-area: sum1;
    }
    #sum2{
    margin: 10px;
    grid-area: sum2;
    }
    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: justify;
        margin: 10px;
        width: auto;
    }
    .imgfront{
        display: flex;
        flex-direction: column;
    }
    .imgback{
        display: flex;
        flex-direction: column;
    }
    #pic01{
        margin-bottom: 20px;
    }
    #img1{
        margin-bottom: 20px;
    }
}